<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="title">
                <h1>FinSights</h1>
            </div>
            <p>Tell us about your investment preferences!</p>
            <p class="example">Example query: I want to invest $1000 in a low-risk ETF in the technology sector for the long-term.</p>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Enter your risk appetite, investment horizon, desired sectors, and investment amount." id="filter-text-val" onkeyup="filterText()">
            </div>
        </div>
        <div id="answer-box"></div>
    </div>

    <script>
        function stockBoxTemplate(ticker, name, details, sector, industry, type, riskScore) {
            return `<div class='stock-item'>
                <h3>${ticker} - ${name}</h3>
                <p><strong>Details:</strong> ${details}</p>
                <p><strong>Sector:</strong> ${sector}</p>
                <p><strong>Industry:</strong> ${industry}</p>
                <p><strong>Type:</strong> ${type}</p>
                <p><strong>Risk Score:</strong> ${riskScore}</p>
            </div>`;
        }

        function sendFocus(){
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = "";
            let query = document.getElementById("filter-text-val").value;
            fetch("/search?" + new URLSearchParams({ q: query }).toString())
                .then(response => response.json())
                .then(data => {
                    data.forEach(stock => {
                        let tempDiv = document.createElement("div");
                        tempDiv.innerHTML = stockBoxTemplate(
                            stock["Ticker Symbol"],
                            stock["Company Name"],
                            stock["Details"],
                            stock["Sector"],
                            stock["Industry"],
                            stock["Type"],
                            stock["Risk Score"]
                        );
                        document.getElementById("answer-box").appendChild(tempDiv);
                    });
                });
        }
    </script>
</body>
</html>